@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./button.scss", "./titles.scss";

body {
  background-color: white;
}

* {
  font-family: var(--font-roboto-flex);
}

.clip-me {
  clip-path: inset(0 0 100% 0);
}
